body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-right: 45px;
}

h1, h2 {
  text-align: center;
}

form {
  margin-bottom: 30px;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  font-weight: 600;
  background-color: #134d4e;
  color: rgb(239, 239, 239);
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  background-color: #f4f4f4;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.search-container {
  display: flex; /* Alinha os itens horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin: 20px; /* Margem em torno do container */
}

#tipoBusca {
  margin-right: 10px; /* Espaço entre o seletor e o campo de pesquisa */
  padding: 5px; /* Preenchimento interno */
  font-size: 16px; /* Tamanho da fonte */
}

#pesquisarMedico {
  margin-right: 10px; /* Espaço entre o campo de pesquisa e o botão */
  padding: 5px; /* Preenchimento interno */
  font-size: 16px; /* Tamanho da fonte */
  border: 1px solid #ccc; /* Borda do campo */
  border-radius: 4px; /* Bordas arredondadas */
}

#botaoPesquisar {
  padding: 6px 12px; /* Preenchimento interno */
  font-size: 16px; /* Tamanho da fonte */
  background-color: #529e8f; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Sem borda */
  border-radius: 4px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro */
  margin-left: 10px;
}

#botaoPesquisar:hover {
  background-color: #428073; /* Cor de fundo ao passar o mouse */
}

li span{
font-weight: bold;
}

li button {
  padding: 25px 0px;
  width: 105px;
  margin-left: 10px; 
}

li .buttons-container {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
}