body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-right: 45px;
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 30px;
}

/* Estilo dos labels */
label {
    font-weight: bold; /* Deixa o texto do label em negrito */
    margin-right: 10px; /* Espaço entre o label e o input */
    width: 120px; /* Define a largura fixa para os labels */
}

/* Contêiner para cada par label + input */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* Estilo dos inputs */
input {
    display: flex;
    width: 100%; /* Faz o input ocupar o espaço restante da linha */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Estilo do botão */
button {
    padding: 10px 15px;
    font-weight: 600;
    background-color: #134d4e;
    color: rgb(239, 239, 239);
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #428073;
}
